on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonar-scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Java (required for Sonar Scanner)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # Step 3: Cache Sonar dependencies (optional)
      - name: Cache SonarQube packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      # Step 4: Run SonarQube scanner
      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          organization: "martinbusuulwa256"
          projectKey: " MartinBusuulwa256_java-sample "
          projectName: "java-sample"
        env:
          SONAR_TOKEN: ${{6ae682d1c4122a6f1924dd90a210c6e6af880131}}

